version: '3.9'

services:
  db:
    image: postgres:15
    container_name: local-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p@ssw0rd
      POSTGRES_DB: BTS_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
